#infos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#infos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#infos div p:first-child{
    font-size: 3.5rem;
    font-weight: 600;
}

#infos div p:last-child{
    color: #323747;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 768px){
    #infos div p:first-child{
        font-size: 2.5rem;
    }
    
    #infos div p:last-child{
        font-size: 0.8rem;
    } 
}
